#root{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attachFile{
    color: grey;
    background-color: white;
    border-radius: 5px;
}

.AddEps{
    background-color: red !important;
    border: 1px solid red !important;
    padding: 5px 100px !important;
}

